body {
  background: red !important;
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(circle at top, #1e293b, #0b1020);
  font-family: system-ui, Arial, sans-serif;
  color: white;
}

.card {
  background: rgba(255, 255, 255, 0.08);
  padding: 35px;
  border-radius: 18px;
  text-align: center;
  width: 320px;
  box-shadow: 0 20px 60px rgba(0,0,0,0.6);
  backdrop-filter: blur(12px);
  border: 1px solid rgba(255,255,255,0.1);
  animation: popIn 0.5s ease;
}

@keyframes popIn {
  from {
      transform: scale(0.9);
      opacity: 0;
  }
  to {
      transform: scale(1);
      opacity: 1;
  }
}

h1 {
  margin-bottom: 10px;
  font-size: 22px;
  letter-spacing: 1px;
}

input {
  width: 90%;
  padding: 12px;
  margin-top: 15px;
  border: none;
  border-radius: 10px;
  text-align: center;
  font-size: 16px;
  outline: none;
  background: rgba(255,255,255,0.9);
  color: black;
  transition: 0.2s;
}

input:focus {
  transform: scale(1.03);
  box-shadow: 0 0 10px #3b82f6;
}

button {
  margin-top: 12