.main {
    margin: 3rem;
    padding: 0.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: rgba(0,0,0,0.5);
    color:aliceblue
}

body {
    background-image: url('RobotV7pic.png');
    background-size: cover;
}

p {
    color: aliceblue;
}

.link {
    text-align: center;
}

a {
    display: inline-block;
    margin-bottom: 0.5rem;
    color:navy;
    background-color: antiquewhite;
    padding: 0.5rem;
    width: 100%;

    &:hover {
        border-style: solid;
        border-color: cadetblue;
        border-width: 0.1rem;
        background-color: blanchedalmond;
    }
}